* {
  color: var(--dark-blue);
  text-align: center;
}

Form {
  margin: 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-container {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form-label {
  font-size: 20px;
  color: var(--blue-grey);
}

.loginButton:hover {
  background-color: var(--dark-blue) !important;
}
.mainLogo {
  margin-top: 5vh;
  max-width: 100%;
}

/*journal*/
.journal-container {
  margin-top: 3vw;
}
/*journal*/
/* contact*/
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3vw 0;
}
.profile-picture {
  width: 10em !important;
  border-radius: 50%;
}

.profile-card {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.profile-name {
  font-size: 18px;
  width: 50vw;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--orange);
  transition: transform 0.3s ease;
}
.link:hover {
  text-decoration: none;
  color: var(--blue-grey);
}
/* contact*/

/*socials*/
.feedback {
  font-size: 18px;
  color: var(--middle-blue);
}
.socials-container {
  padding-top: 6vw;
}

.socialMedia,
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
  justify-items: center;
  margin: 4vw 0 ;
}
.social-icon {
  transition: transform 0.3s ease;
}
.social-icon:hover {
  transform: scale(1.3);
}
/*socials*/

@media only screen and (max-width: 768px) {
  /*login*/
  .mainLogo, .mainLogo-social {
    max-width: 80%;
  }
  /*login*/

  /*contact*/
  .contact-container {
  padding-bottom: 10vw;
}
  /*socials*/
.socials-container{
  padding-top: 15vw;
}
.socialMedia,
.contacts {
  gap: 5vw;
  margin: 8vw 0;
}
  /*socials*/
 
}
