* {
  color: var(--dark-blue);
  text-align: center;
}

Form {
  margin: 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.login-container {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.form-label {
  font-size: 20px;
  color: var(--blue-grey);
}

.loginButton:hover {
  background-color: var(--dark-blue) !important;
}
.mainLogo {
  margin-top: 5vh;
  max-width: 100%;
}

/* contact*/
.contact-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3vw;

}
.profile-picture {
  width: 10em !important;
  border-radius: 50%;
}

.profile-card {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.profile-name{
  font-size: 18px;
  width: 50vw;
  text-align: center;
}

.link{
  text-decoration: none;
  color: var(--orange);
  transition: transform 0.3s ease;
}
.link:hover{
  text-decoration: none;
  color: var(--blue-grey);
 
}
/* contact*/

/*socials*/
p{
  font-size: 18px;
}
.socialMedia, .contacts{
  display: flex;
  flex-direction: column;
}


/*socials*/
