.rdp-day_selected  {
    background: var(--orange) !important;
    border: black;
} 
.calendar-btn{
    background-color: var(--orange);
    color: var(--nude);
}
.calendar-btn:hover{
    background-color: var(--orange);
}

.my-today {
    color: var(--orange) !important;
}

.DayPicker-Day--selected {
    background-color: var(--orange); /* Change to your desired color */
    color: #ffffff; /* Change to your desired text color */
}
