.rdp-day_selected  {
    background: black !important;
    border: black;
} 
.calendar-btn{
    background-color: var(--orange);
    color: var(--nude);
}
.calendar-btn:hover{
    background-color: var(--grey-blue);
}

.my-today {
    color: black !important;
}
