.journal-text-entry-container {
    width: 100%;
}

.emotion-icon {
    text-align: center;
    padding-top: 2vw;
}

.journal-text-entry {
    margin-top: 3vw;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--nude);
    height: 30em;
}

  