.journalForm {
    position: relative;
}

.dateInput,
.journalEntry {
    width: 100%;
    margin: 0.5em;
    background-color: #fffeef !important;
    color: #000;
    border: 1px solid #ccc;
    padding: 0.5em;
}

.DayPicker {
    position: absolute;
    width: 100%;
    background-color: #fffeef !important;
    border: 1px solid #ccc;
}