.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    border: none;
}

.footer-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text {
    margin: 0;
}

.footer-button {
    background-color: transparent !important;
    border: 1px solid black !important;
    color: black !important;
}