.footer {
  padding: 1em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #18206B;
}
.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text {
  margin: 0;
  color: white !important;
}
.footer-button {
  width: 5em;
  height: 2.5em;
  border-radius: 5px;
  background-color: var(--orange) !important;
  color: var(--light-blue);
  border-color: var(--dark-blue) !important;
}
.footer-button:hover {
  background-color: var(--dark-blue) !important;
}