.footer {
  padding: 1em;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  margin: 0;
}

.footer-button {
  width: 5em;
  height: 2.5em;
  border-radius: 5px;
  background-color: var(--grey-blue) !important;
  color: var(--light-blue);
  border: none;
  margin-top: 1.5em;
}

.footer-button:hover {
  background-color: var(--dark-blue) !important;
}
