.emojiContainer {
    margin: 1em;
    display: flex;
}

.emojis {
    justify-content: space-evenly;
}

.mood {
transition: transform 0.3s ease;
}

.mood:hover {
    transform: scale(1.3);
    cursor: pointer;
}